<body>
<div class="wrapper">
  <h1>Forum AL3C 2019</h1>
  <p class="info">Lieu: 123 Rue des Événements, Paris</p>
  <p class="info">Date: 10-12 Octobre 2019</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tristique volutpat sapien, eget dictum mi auctor eu. Donec dignissim leo non turpis luctus, vel tempus odio convallis. Proin vitae velit ac nulla iaculis laoreet a a elit. Aliquam dapibus libero at quam consequat, eu egestas est tristique. Nullam pharetra ipsum elit, sit amet imperdiet sapien efficitur et. In vel ipsum eget velit consectetur porttitor. Morbi id enim id augue blandit congue a et mi. Sed ultrices, eros in tempus fringilla, lorem nibh elementum nibh, sit amet efficitur sapien dolor ac nunc. Nullam consectetur lacus id augue rhoncus mollis.</p>
  <p>Curabitur sed justo vel velit feugiat sagittis. Donec malesuada vel lacus at tempor. Sed tincidunt purus vel orci feugiat, a luctus sapien aliquam. Donec in bibendum ipsum. Donec placerat ligula risus, nec egestas sapien malesuada vel. Nulla facilisi. Sed rutrum eros et massa auctor elementum. Sed at nisi quis nulla varius semper. Ut commodo justo et ipsum tincidunt consequat. Morbi sit amet feugiat magna, ac commodo libero. Suspendisse potenti. Duis nec commodo turpis, eu blandit est. Nam sagittis dolor ut commodo gravida. Aenean sit amet malesuada purus, a rhoncus eros. Morbi commodo ex vel elit auctor malesuada. </p>
  <button routerLink="/inscription-participant">S'inscrire</button>


</div>

</body>

<style>
  @import url('./description-evenement.component.css');
</style>
