<div class="header">
  <h1>Liste des événements</h1>
  <div class="buttons">
    <button routerLink="/creer-evenement">Créer événement</button>
    <button> Générer statistiques générales</button>
  </div>
</div>
<div class="table-container">
  <table>
    <thead>
    <tr>
      <th>Acronyme événement</th>
      <th>Nom événement</th>
      <th>Lieu événement</th>
      <th>Participants</th>
      <th>Consulter détails</th>
      <th>Supprimer</th>
      <th>Statistiques</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>EV01</td>
      <td>Evénement 1</td>
      <td>Lieu 1</td>
      <td><button routerLink="/liste-participants">Participants</button></td>
      <td><button>Consulter détails</button></td>
      <td><button>Supprimer</button></td>
      <td><button>Statistiques</button></td>
    </tr>
    <tr>
      <td>EV02</td>
      <td>Evénement 2</td>
      <td>Lieu 2</td>
      <td><button routerLink="/liste-participants">Participants</button></td>
      <td><button>Consulter détails</button></td>
      <td><button>Supprimer</button></td>
      <td><button>Statistiques</button></td>
    </tr>
    <tr>
      <td>EV03</td>
      <td>Evénement 3</td>
      <td>Lieu 3</td>
      <td><button routerLink="/liste-participants">Participants</button></td>
      <td><button>Consulter détails</button></td>
      <td><button>Supprimer</button></td>
      <td><button>Statistiques</button></td>
    </tr>
    </tbody>
  </table>
</div>
