
<article id="main">
  <section class="wrapper style4 special container medium" style="width: 100%;
           margin-top: 150px;">
    <div class="content">
      <form class="login">
        <div class="row gtr-50">
          <div class="col-12 col-12-mobile">
            <input type="text" placeholder="nom" required>
          </div>
          <div class="col-12 col-12-mobile" >
            <input type="text" placeholder="prenom" required>
          </div>
          <div class="col-12 col-12-mobile" >
            <input type="email" placeholder="email" required>
          </div>
          <div class="col-12 col-12-mobile" >
            <input type="tel"  placeholder="tel" required>
          </div>

          <div class="col-12">
            <ul class="buttons">
              <li><input type="submit" class="special" value="S'inscrire" /></li>
            </ul>
          </div>
        </div>
      </form>
    </div>
  </section>
</article>


