<article id="main">

  <section class="wrapper style4 special container medium" style="width: 40%;
margin-top: 50px">

    <div class="content">
      <form class="login">
        <div class="row gtr-50">
          <div class="col-12 col-12-mobile">
            <input type="text" name="name" placeholder="Email" />
          </div>
          <div class="col-12 col-12-mobile" >
            <input type="text" name="email" placeholder="Mot de passe" />
          </div>

          <div class="col-12">
            <ul class="buttons">
              <li><input type="submit" class="special" value="Se connecter" /></li>
            </ul>
          </div>
        </div>
      </form>
    </div>

  </section>

</article>
