body {
  /*background-image: url('images/fond.jpg');*/
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #0f1c34;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 50px auto;
  width: 80%;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(89, 158, 217, 0.8)
}

h1 {
  text-align: center;
  margin-top: 0;
}

table {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #fff;
}

th {
  background-color: #204051;
  color: #fff;
  font-weight: bold;
}

tr:hover {
  background-color: rgba(19, 30, 143, 0.88);
  cursor: pointer;
}

button {
  background-color: #fff;
  border-radius: 10px;
  border: none;
  color: #0f1c34;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 10px;
}

button:hover {
  background-color: #0f1c34;
  color: #fff;
  transform: scale(1.1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.edit-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #a84e4e;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.edit-button:hover {
  background-color: #2d7ba1;
  color: #fff;
}
